[Unit]
Description=TokiPonaPoem bot
After=network.target

[Service]
ExecStart=/home/kg/proyectos/toki-poems/start-bot
Restart=always
WorkingDirectory=/home/kg/proyectos/toki-poems/

[Install]
WantedBy=multi-user.target
